.event
  absolute top 200 right 10
  color white d2-color-red
  font-size 45

.active
  .event
    top 325

.with-price2
  .event
    top 550
    color d2-color-red white

  &.active
    .event
      top 655
